<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rozklad2">

    <application
        android:allowBackup="true"
        android:icon="@drawable/bus_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".KonToCzwaBusikActivity"
            android:label="Busik Kon - > Czwa"
            android:parentActivityName=".MainActivity"></activity>
        <activity android:name=".KonToCzwaGTVActivity"
            android:label="GTV Kon - > Czwa"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".busik_activity"
            android:label="Busik Czwa - > Kon"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".gtv_activity"
            android:label="GTV Czwa - > Kon"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>